<div class="flex h-full flex-col justify-center items-center">
  <h1 class="text-center">Vízóra bejelentés</h1>
  <img src="assets/svg/water_drop.svg" width="60" height="60">
  <h1 class="text-center pt-10">Belépés</h1>
  <form class="flex flex-col justify-center items-center gap-4 mb-5"
        [formGroup]="loginForm"
        (ngSubmit)="login()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" placeholder="Email"/>
      <mat-error *ngIf="email?.errors?.['email']">
        Hibás email formátum
      </mat-error>
      <mat-error *ngIf="email?.errors?.['required']">
        kötelező mező
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Jelszó</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="Jelszó"
      />
      <mat-error *ngIf="password?.errors?.['required']">
        kötelező mező
      </mat-error>
      <mat-error *ngIf="password?.errors?.['minlength']">
        Túl rövid jelszó
      </mat-error>
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Belépés</button>
  </form>
  <button mat-button [routerLink]="'/register'">Regisztráció</button>
</div>
