<div class="flex h-full flex-col justify-center items-center">
  <h1 class="text-center">Belépés</h1>
  <form class="flex flex-col justify-center items-center gap-4 mb-5"
        [formGroup]="loginForm"
        (ngSubmit)="login()">
    <mat-form-field>
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" name="email" placeholder="Email"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Jelszó</mat-label>
      <input
        type="password"
        matInput
        formControlName="password"
        placeholder="Jelszó"
      />
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Belépés</button>
  </form>
  <button mat-button [routerLink]="'/register'">Regisztráció</button>
</div>
